*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html{
    width: 100%;
    background-color: black;
    color: whitesmoke;
    font-size: 2vw;
    height: 100%;
}
header nav{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding:1vw  3vw;
}
header nav .logo{
    font-size: 5vw;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: transparent;
font-size: 4vw;
-webkit-text-stroke: 1px whitesmoke;
font-family: cursive;

    gap: 6vw;
}
header nav ul>li{
    filter: drop-shadow(0px 0px 5px whitesmoke);
}

header nav .btn>button{
    padding: 1vw;
    border-radius: 20px;
    font-weight: 700;
    font-family: cursive;
    transform: rotateX(50deg);
    
}
.first{
    padding: 15vw 5vw;
    background-position: center;
    background-size: cover;
}
.first h1 {
    font-family: fantasy;
    word-spacing: -5px;
    text-transform: uppercase;
    color: transparent;
    background-clip: text; 
    background-image: url(https://media2.giphy.com/media/HkEDr0jVekaZO/giphy.gif?cid=790b761…&ct=g&rid=giphy.gif);
    
    -webkit-background-clip: text;
    background-position: center;
    font-size: 10vw;
    background-repeat: no-repeat;
    background-size: 130%;
}

  